.AnimalCardList {
  background-color: #f9c57c;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  border: 3px solid #23362b;
}

.AnimalCard2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

button {
  background-color: #e09f43;
  margin: 30px;
}
